#map_canvas{
    width:100%;
    height:720px;

}
.span2{
    float:left;
    width:38%; 
    height = 750px;   
    
}


.span10{
    float:right;
    width:60%;
}

/*按鈕*/
#post{
    position: fixed;

    margin-top: -100px;
    width:30%;
}

#postbtn{

    margin-left: 35%;
    margin-right: 35%:
}
/*隱藏*/
.hide{
    display:none;
}


#map_canvas{
    width:100%;
    height:750px;

}






.map{
    margin-top: -23px;

}

#sidepill{
    float:right;
    margin-top: -500px;
    margin-right: 10px

}

#welcomeMessage{
    margin-top: -70px;
    position: absolute;
}

#postSection{
    padding = 10px;

}

#searchSection{
    margin-left = 10px;
    margin-right: 10px;
}

#pages{
    text-align: center;

}

#lostbtn{

}



/*按鈕*/
#post{
    position: fixed;

    margin-top: -100px;
    width:30%;
}

#postbtn{

    margin-left: 35%;
    margin-right: 35%:
}
/*隱藏*/
.hide{
    display:none;
}



#blackcover{
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width:100%;
    height:100%;
    z-index: 2;

}

#form{
    background-color: #E6E6E6; 
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    margin-left: 5%;
    margin-right: 30%;
    margin-top: 5%;
    width:40%;  
    z-index: 3;
    
}



#searchform{
    background-color: #E6E6E6; 
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    margin-left: 5%;
    margin-right: 30%;
    margin-top: 5%;
    width:40%;  
    z-index: 3;
    box-shadow: 4px 4px 12px 2px rgba(20%,20%,40%,0.5);
    
}

#result{
    background-color: #E6E6E6; 
    padding: 10px;
    position: absolute;
    margin-top: 35%;
    margin-bottom:0%;
    width:100%;
    height: 280px;
    z-index: 3;


}



#information{
    background-color: #E6E6E6; 
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    margin-left: 50%;
    margin-right: 30%;
    margin-top: 5%;
    width:40%;  
    z-index: 3;
    box-shadow: 4px 4px 12px 2px rgba(20%,20%,40%,0.5);
    
}
.resultphoto{
    width: 280px;    
    height: 200px;
    margin: 2px;
    background-color: red;
}

